body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7; /* Fondo blanco por defecto */
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Fondo blanco para las secciones del contenedor */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Ajustar el contenedor que rodea los resultados */
#content {
    background-color: #fff; /* Fondo blanco para la página de resultados */
    box-shadow: none; /* Elimina cualquier sombra del contenedor */
    border: none; /* Elimina cualquier borde del contenedor */
    padding: 40px; /* Aumenta el padding para dar más espacio interno */
    margin: 0; /* Elimina el margen */
    max-width: 800px; /* Ajusta el max-width para que el contenedor sea más grande */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    position: fixed; /* Fija el contenedor en la pantalla */
    top: 50%; /* Coloca el contenedor a mitad de la pantalla desde la parte superior */
    left: 50%; /* Coloca el contenedor a mitad de la pantalla desde la izquierda */
    transform: translate(-50%, -50%); /* Ajusta el contenedor para que esté perfectamente centrado */
    z-index: 1000; /* Asegura que el contenedor esté sobre otros elementos */
    overflow: auto; /* Permite que el contenido se desplace si es necesario */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del contenedor */
}

/* Asegúrate de que los elementos dentro del contenedor de resultados también sean blancos */
#content .generar-comprobante {
    background-color: #fff; /* Fondo blanco para el contenido generado */
}

.header img {
    width: 100%;
    max-width: 175px;
    margin-bottom: 10px;
    margin-left: -20px;
}

.status {
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status img {
    margin-left: -20px;
}

.detail {
    margin-bottom: 10px;
    color: #1c031d; /* Color de texto actualizado */
    font-weight: 400; /* Peso de fuente más ligero */
}

.detail span {
    display: block;
    font-weight: 400; /* Peso de fuente más ligero */
}

.reference {
    margin-top: 20px;
    padding-top: 10px;
    /* border-top: 1px solid #ccc; */ /* Elimina esta línea para quitar la línea debajo de la fecha */
    color: #1c031d; /* Color de texto actualizado */
    font-weight: 400; /* Peso de fuente más ligero */
}

.account-balance {
    background-color: transparent; /* Fondo transparente */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borde gris */
}

.account-balance img {
    width: 45px; /* Mantener el tamaño de la imagen */
    height: 45px;
    margin-right: 10px;
}

.account-balance .available-label {
    font-weight: 400; /* Peso de fuente más ligero */
    display: block;
    color: #1c031d; /* Color del texto */
}

.account-balance .amount {
    font-weight: 300; /* Peso de fuente más ligero */
    display: block;
    color: #707070; /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
}

.account-balance .amount small {
    font-size: 0.8em;
}

.problem-link {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.problem-link img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

/* Agregar al CSS actual */
.top-image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    
}
    
/* Agrega esto al archivo styles.css */

.key-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7; /* Fondo blanco para la página de clave */
}

.key-container h2 {
    margin-bottom: 20px;
}

.key-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.key-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.key-container button:hover {
    background-color: #0056b3;

}